n8n/state-of-data-brazil-workflow.json
{
  "name": "State of Data Brazil Workflow",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "http://flask-app:5000/predict",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        656,
        0
      ],
      "id": "edab22a0-fea5-4053-bb47-eccf35c35aa4",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "10418a36-6956-452f-a0e6-f1c86f644133",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "33c06d99-79a5-45f4-8bdb-be7e48c4cb08",
      "name": "Webhook",
      "webhookId": "10418a36-6956-452f-a0e6-f1c86f644133"
    },
    {
      "parameters": {
        "jsCode": "// A única mudança é aqui na primeira linha: adicionamos .body\nconst item = items[0].json\n\n// Mapeamento dos Níveis de Ensino\nconst nivel_ensino_map = {\n\t\"estudante de graduacao\": 1,\n\t\"graduacao/bacharelado\": 2,\n\t\"pos-graduacao\": 3,\n\t\"mestrado\": 4,\n\t\"doutorado ou phd\": 5,\n\t\"nao tenho graduacao formal\": 0,\n\t\"prefiro nao informar\": 0,\n}\n\n// Mapeamento dos Tempos de Experiência\nconst tempo_experiencia_dados_map = {\n\t\"menos de 1 ano\": 0.5,\n\t\"de 1 a 2 anos\": 1.5,\n\t\"de 3 a 4 anos\": 3.5,\n\t\"de 4 a 6 anos\": 5.0,\n\t\"de 7 a 10 anos\": 8.0,\n\t\"mais de 10 anos\": 12.0,\n\t\"nao tenho experiencia na area de dados\": 0.0,\n}\n\nconst apiPayload = {\n\tidade: item.idade,\n\tgenero: item.genero,\n\tetnia: item.etnia,\n\testado_moradia: item.estado_moradia,\n\tnivel_ensino: nivel_ensino_map[item.nivel_ensino],\n\tformacao: item.formacao,\n\ttempo_experiencia_dados: tempo_experiencia_dados_map[item.tempo_experiencia_dados],\n\tlinguagens_preferidas: item.linguagens_preferidas,\n\tcloud_preferida: item.cloud_preferida,\n}\n\nreturn apiPayload"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "aa93bc7c-d345-4a9f-b268-87931e62c27e",
      "name": "Code"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\n  {\n    \"recomendacao\": {\n      \"mensagem\": \"Baseado no seu perfil, o cargo ideal recomendado é: \" + $('HTTP Request').item.json.predicted_job\n    }\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        864,
        0
      ],
      "id": "8ffe760d-d183-4a8f-a85f-44ce607c6c35",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "// O Webhook agora recebe os dados como texto plano dentro da chave 'body'\nconst stringData = items[0].json.body\n\n// Convertemos a string de volta para um objeto JSON\nconst jsonData = JSON.parse(stringData)\n\n// Retornamos o objeto JSON para o próximo nó poder usá-lo\nreturn jsonData"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "0b5fc81c-c6a9-48fc-ae6e-69978d9f2e86",
      "name": "Code1"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6fab6bb5-04ec-4653-a291-ed7750bc2a42",
  "meta": {
    "instanceId": "223c8db01706098891faf48eebbd9657bb614430440fa4d873ce1bdb977178d6"
  },
  "id": "dEGAdzDZUNgySUzc",
  "tags": []
}